/* Empty. Add your own CSS if you like */
.z-index{
    z-index:1
}
.weird-bug{
width:1px;
height:1px;
background:white;
border:none;
}
ion-content.scroll-content.ionic-scroll.has-header {
-webkit-transform: translate3d(0,0,0) !important;
}
 .startup {
       /* background: url(image) no-repeat center center fixed; */
       background:#155a76;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
.splash-logo{
	margin: 0 auto;
	display:block;
	max-width:80%
}
    
.splash-logo-container{
	margin-top:30%;
}    
.default-loading{
color:white;
margin: 0 auto;
font-size:75px;
left:40%;

}

 .login-container {
        background: url('img/login-background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}

 .regular-container {
        background: url('img/regular-background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}

.login-with-facebook{
	width:80%;
	display:block;
	margin:0 auto;
}

.ng-cloak{
    display:none
  }


.login-logo{
  display: block;
margin: 0 auto;
margin-top: 15%;
max-width:80%
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 450px;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}

td-cards {
  display: block;
}
td-card {
  display: block;
}
td-card img {
  max-width: 98%;
  max-height: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

td-card .image {
  position: relative;
}

td-card img {
  width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #66cc33;
border: 2px solid #66cc33;
padding: 5px;
opacity: 0;
-webkit-transform: rotate(10deg);
-moz-transform: rotate(10deg);
-ms-transform: rotate(10deg);
}
.no-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
padding: 5px;
border: 2px solid #ef4e3a;
color: #ef4e3a;
opacity: 0;
-webkit-transform: rotate(-10deg);
-moz-transform: rotate(-10deg);
-ms-transform: rotate(-10deg);
}
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}



.employee-card{
margin-top:10px;
height:300px
}

.employer-card{
margin-top:10px;
height:300px
}
.default-bar-title{
    color:white;
}
.default-header{
    text-align:center;
    font-size: 23px;
display: block;
width: 80%;
margin: 0 auto;

}
.white{
    color:white;
}
.new-loading{
    margin-top:150px;
}
.center{
    text-align: center
}


.checkbox-overrides{
    background:none;
    border:none;
    color:white;

}

.profile-creation-checkbox{
    font-size: 20px;
    font-weight: 600;
    padding-left: 80px;
}
.more-padding{
    padding-left:30px;
}

.bar-default{
    background:#155a76;
    border-bottom: 2px solid white;
}
.footer-default{
    background:#155a76;
    border-top: 2px solid white;
}

.list-main{
    display:block;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}
.icon-header{
  font-size:26px;
  color:white;
}
.menu-left{
}

.image-small{
    width: 50%;
    margin: 0 auto !important;
}
.no-background{
    background:none;
}
.footer-default{

}
.button-clear{
    font-weight: 600 !important;
    color: white !important;
}
.change-profile-pic{
  padding:0;
background-repeat: no-repeat;
    background-size: 100%;
  height:85px;


}
.black-back{
  background:black !important;
}
.change-profile-pic img{
  max-width:100%;
    vertical-align: middle;
}
.no-padding{
  padding:0;
}
 #cropme-cancel { display: none; }
.dark-back{
  background:black;
}
.crop-container{
  margin-top:50px;
}

.btn-transparent{
    border:none;
    background:none;
}
.loading-container .loading{
  background:none;
}
.item-input{
}
.btn-right{
  float:right;
  margin-right:10px;
}
.card, .list-inset{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

}
.half-border{
  border-bottom: 2px solid #ccc;
  width:80%;
  margin:0 auto;

}
.input-label{
  font-weight:600;
}
.item{
}
.new-text{
  color: #66cc33;
}
.margin-left-small{
  margin-left:5px;
}
.button-third{
  width: 75px;
display: block;
margin: 0 auto;
height: 75px;
border-radius: 40px;
background:#383a3b;
border:2px solid white;
color:white;
}
.button-third i{
  font-size:30px;

}
.additional-label{
  text-align:center;
  color:#333;
}
.num-applicants-container{
position: absolute;
top: 16px;
left: 16px;
width: 40px;
height: 50px;
border-radius: 4px;
border-color: rgb(20, 95, 215);
background-color: rgb(74, 135, 238);
color: rgb(255, 255, 255);

}
.button-right-menu{
  float:left;
  margin-right:40px;
}
.num-applicants-container h2{
    color:white;
    margin-top:6px;
    text-align:center;
    margin-bottom:0px;
}

.num-applicants-container span{
    color:white;
    width:100%;
    text-align:center;
    font-size:7px;
    line-height:10px;
    display:block;

}

.user-details{
    border-radius:0px;
    box-shadow:none;
}

.user-details .header{
    background:#155a76;
    border-bottom:2px solid white;
    color:white;
}
.card-info{
  margin-left:10px;
  overflow:auto
}
.swipe-card{
  background:white;
  overflow:auto;
  box-shadow:5px 5px 5px 5px rgba(0,0,0,0.2);
}
td-card{
  background:white;
}

.full-cover-container{
    background:rgba(0,0,0,0.6);
    z-index:999;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.match-header{
margin-top:100px !important;
text-align:center;
color:white;
text-transform:uppercase
}

.btn-match{
    display:block;
    margin:0 auto;
    width: 80%;
font-size: 11px;
}
.additonal-information-header{
text-align:center;
text-transform:uppercase;

}
.additonal-information-container{
display:block;
width:80%
border-radius:10px;
border-color:#999


}
.additional-information-wrapper{
    width:90%;
    display:block;
    margin-top:90px;
    height:350px;
    background:white;
    border-radius:5px;
    border:2px solid #999;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.additional-button-close{
position:absolute;
top:-5px;
right:0px;
background:#155a76;
border-radius:10px;
color:white
}
.additional-information-container{
width:90%;
display:block;
height:70%;
overflow:scroll;
margin-left:auto;
border-radius:30px;
margin-right:auto;
border:2px solid #ccc
}
.choose-btn-row{
position:absolute;
bottom:0px;
}
.choose-btn{
display:block;
margin:0 auto;
border-radius:15px;
width: 100%;
border-radius: 0px;
height: 100px;
}
.choose-btn-footer{
height:15%;
background:none;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
}
.no-padding{
  padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
}
.button-yes{
  background:#155a76;
  border-color:#155a76;
  color:white;
  font-size:40px;
  margin-top:0px;
}
.button-no{
  background:#ef4e3a;
  border-color:#ef4e3a;
  color:white;
  font-size:40px;
}
.scroll-refresher{
  top:-70px !important;
}
.currency-header{
width:30%;
float:right;
margin-top:5px;
}
.job-title-header{
width:70%;
float:left;
margin-bottom:5px;
margin-top:5px;
}
.about-header{
width:100%;
float:left;
margin-top:0px;
margin-bottom:0px;
}
.no-margin-bottom{
margin-bottom:0px !important
}
.description-paragraph{
width:95%;
float:left;
font-size:11px;
line-height:11px;
margin-top:5px

}
.match-container{
background:rgba(0,0,0,0.8);
z-index:10000;
}
.new-applicants{
background-color:#66cc33;
}
.match-tile img{
    max-width:100%;

}
.match-name{
color:white;
text-align:center;
}
.match-job-header{
color:white;
text-align:center;

}
.white-back{
background:white
}
.unread{
background:rgba(21, 90, 118,0.4)
}
.message-sent-by-me{
background:#4a87ee;
padding: 5px 10px;
border-radius: 10px;
color:white;
max-width:100%;
float:right
}
.message-sent-by-other{
left:5px;
width:80%;

}
.send-message-input{
width:89%;
padding-left:10px !important
}
.chat-history-row{
min-height:35px;
margin-bottom:10px;
}
.chat-user-image{
max-width:25px;
margin-right:5px;
border-radius:5px;
float:left
}
.chat-user-message{
background:#f8f8f8;
padding: 5px 10px;
border-radius: 10px;
max-width:80%;
float:left
}
.offsetter{
width:50%;
float:Left
}
.my-message-container{
width:80%;
float:right
}
.max-width{
width:100%
}
.posted-header{
width:100%;
margin-top: 0px;
margin-bottom: 0px;
float:left ;

}
.paragraph-desc{
min-height:50px
}
.profile-picture-image{
width:100%
}
.chatroom-button{

color:white}

.small-right-margin{
margin-right:5px
}
.about-container{
padding-left:10px
}
.low-margin{
margin-top:5px
}
.no-radius{
border-radius:0px
}
.td-card{
    overflow:auto;
    background:white
}
.popover-height{
height:120px
}
.white-header{
background:#155a76 !important;
}
.bar-positive{
background: #155a76 !important;
border-color: #155a76 !important;
}
.bar-positive .button{
background: #155a76 !important;
border-color: #155a76 !important;
}
.dont-hide{
display:block !important
}
.must-hide{
display:none !important
}
.job-wage{
float:right
}
    .cropArea {
   /* background: #E4E4E4; */
      overflow: hidden;
      width:100%;
      height:350px;
  }


.right-float{
float:right
}
.no-opacity{
opacity:0
}

.img-crop {
  width: 100%;
    height: 100%;
  display: block;
    position: relative;
  overflow: hidden;
 }
.img-crop canvas {
    display: block;
  position: absolute;
    top: 50%;
  left: 50%;
    outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.profile-picture-container img{
width:100%
}
.button-right{
float:right;
width:40%;
margin-right:10px
}
.inline{
display:inline !important
}
form{
width:100%
}
.inside-form{
width:70%;
float:left;
}
.margin-top-bottom{
margin-top:10px;
margin-bottom:10px;
}
.no-border{
border:none
}
.credit-form{
top: 25% !important;
left: 43% !important;
width: 80% !important;
height: 225px !important;
margin-left: -110px !important;
}
.is-guarantee{

position: absolute;
top: 10px;
right: 20px;}
.button-left{
right:70px !important
}
.button-top{
top:30px !important
}
.offered{
background:green
}
.choose-image img{
  margin:0 auto;
  display:block;

}
.choose-label{
  color:white;
  text-align:center;
  margin-top:5px;
}
h1,h2{
   font-weight:700;
}
h3{
  font-weight:600;
}
h4
    font-weight:600;
}

h1,h2,h3,h4,h5,p{
    font-family: 'Roboto Condensed', sans-serif !important;
}
body{
   font-family: 'Roboto Condensed', sans-serif;
}
.mid-loading-style{
  color:white;
  margin-left:43%;
  font-size:50px;
}
.center-header{
  color:white;
  text-align:center;
  width:100%;
  margin-top:20px !important;
}

.new-notification{
  width:10px;
  height:10px;
  position:absolute;
  right:5px;
  bottom:5px;
  border-radius:10px;
  background:#ef4e3a;
}

.blue-loading{
color:#155a76 !important;
}
.no-overflow{
  overflow: auto !important;
  white-space:normal !important;

}
.margin-bottom{
  margin-bottom:40px;
}
.employee-card{
height:360px !important;

}
.job-type-container{
right:0px;
display:block;
bottom:0px;
width:100%


}
.job-type-container img{
    max-width:40px
}
.job-type{width:100% }
.job-type img{
    float:left;
    margin-top:-7px;
    max-width:40px !important
}
.job-type span{

}
.guarantee-pay-card{
position: absolute;
bottom: 10px;
right: 10px;
background:#155a76;
color: white;
padding: 5px 5px;
}
.box{
background:#155a76;
height:100%
}
.slider{
height:100%
}
.intro-header{
color:white;
text-align:center;
margin-top:20px;
padding-top: 20px !important;
padding-bottom: 10px;
width: 80%;
margin: auto;
}
.intro-img{
display:block;
margin:0 auto;
max-width:80%;
border:2px solid white
}
.done-button{
position: absolute;
right: 20px;
bottom: 20px;
width: 100px;
}
}
;
