<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
      <ion-nav-back-button class="button-clear dont-hide" ng-click="editBack()">
        <i class="ion-chevron-left"></i> 
          </ion-nav-back-button>
     <ion-nav-title>
     Edit Profile
    </ion-nav-title>
    </ion-nav-bar>


<ion-pane ng-init="editInit()" class="login-container" >
    <div class="bar bar-header bar-default">
	<button class="button btn-default btn-transparent" ng-click="finishEdit()">
		<i class="ion-chevron-left icon-header" data-pack="default"></i></button>
		<h1 class="title default-bar-title">Edit Profile</h1>
    </div>
    <ion-content class="has-header white-back">	 
    <!--    <div class="profile-picture-container" ng-click = "editProfilePicture()">
	<img ng-src="{{editUserProfile.profilePictureURL}}" alt="" />
    </div> -->
    <div class="about-container">
  	<span class="input-label">About Me</span>
	<div class="list list-inset low-margin no-radius">
	      <label class="item item-input">
    		<textarea placeholder= "Enter a Description" ng-model="editUserProfile.description"></textarea >
		</label>
	</div>
	<div class="row inline">
	    <button class="button button-positive button-right" ng-click="saveProfile()">Save Profile </button>
	</div>    
    </div>	
    </ion-content>
</ion-pane>
