<ion-view>
  <ion-slide-box >
      <ion-slide>
            <div class="box blue">
		<h3 class="intro-header">View How Many People Have Applied For Your Job</h3>
		<img class="intro-img" src="img/employer1.png">
		<button class=" done-button button button-calm" ng-click="gotoEmployerDash()">Done</button>

	    </div>
	</ion-slide>

	 <ion-slide>
            <div class="box blue">
		<h3 class="intro-header">Create "Guarantee Pay" Jobs To Pay Employees Online and Have Your Job Listing Boosted</h3>
		<img class="intro-img" src="img/employer6.png">
		<button class=" done-button button button-calm" ng-click="gotoEmployerDash()">Done</button>

	    </div>
	</ion-slide>
  <ion-slide>
            <div class="box blue">
		<h3 class="intro-header">Swipe Right To Message Potential Employees</h3>
		<img class="intro-img" src="img/employer3.png">
		<button class=" done-button button button-calm" ng-click="gotoEmployerDash()">Done</button>

	    </div>
	</ion-slide>
  <ion-slide>

            <div class="box blue">
		<h3 class="intro-header">Match With Potential Employees</h3>
		<img class="intro-img" src="img/employer4.png">
		<button class=" done-button button button-calm" ng-click="gotoEmployerDash()">Done</button>

	    </div>
	</ion-slide>
     <ion-slide>
            <div class="box blue">
		<h3 class="intro-header">Message Potential Employees</h3>
		<img class="intro-img" src="img/employer2.png">
		<button class=" done-button button button-calm" ng-click="gotoEmployerDash()">Done</button>

	    </div>
	</ion-slide>



  <ion-slide>
            <div class="box blue">
		<h3 class="intro-header">Offer Jobs To Potential Employees</h3>
		<img class="intro-img" src="img/employer5.png">
		<button class=" done-button button button-calm" ng-click="gotoEmployerDash()">Done</button>
	    </div>
	</ion-slide>
    </ion-slide-box>
    </ion-view>

