<ion-side-menus >

  <ion-side-menu-content drag-content="false">
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu  side="left" on-swipe-right="onSwipeRight()" >
    <header class="bar bar-header bar-stable no-shadow blue-banner">
      <h1 class="title">Menu</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item  class="item-avatar" nav-clear menu-close ng-click = "getProfile()">
        <i class="icon ion-person"></i>
      <h2>
      My Profile 
      </h2>
      <p>Check out Your Profile</p>
        </ion-item>
        <ion-item nav-clear class="item-avatar" menu-close ng-click = "editProfile()">
      <i class="icon ion-edit"></i>
      <h2>
      Edit Profile
      </h2>
      <p>Edit Your Profile</p>
        </ion-item>
        <ion-item nav-clear menu-close class="item-avatar" ng-click="goEmployeeDash()">
         <i class="icon ion-person-stalker"></i>
      <h2>
      Employee Dashboard
      </h2>
      <p>Check Out Your Employee Dashboard</p>
   </ion-item> 

  </div>
        
  </ion-content>  

</ion-side-menus>
