<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	<ion-nav-back-button class="button-clear dont-hide"  ng-click="goBack()" ng-disabled="disableBack">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	<ion-nav-buttons side="secondary">
        <button class="button" ng-click="openMessages()">
	 	<i class="ion-chatboxes  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
    <div class="new-notification" ng-cloak ng-show="showNewMessageNotificationEmployer"></div> 

	    </button>
        <button class="button" ng-click="popover.show($event)">
	 	<i class="ion-more  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
	</button>

	</ion-nav-buttons>
	 <ion-nav-title ng-click= "getJob(job.id)">
   {{job.title | limitTo:30}}{{myString.length > 30 ? '...' : ''}}
	</ion-nav-title>
    </ion-nav-bar>
<ion-pane  class="regular-container"  ng-init="getSwipedUsersInit()">
<match-made data = "matchData" ng-show="showMatchPage"></match-made>
<additional-information data= "matchData"></additional-information>
	<ion-content class="has-header ">
		<div class="card" ng-show="showNoEmployees">
		  <div class="item item-text-wrap">
		  	There are no new employees that have applied for this job
		  </div>
		</div>
	 <td-cards >
	     <td-card on-transition-out="onTransitionOut(amt,employee.id)" class="employee-card" on-swipe-left="onSwipeLeft(employee.id)" on-swipe-right="onSwipeRight(employee.id)" on-partial-swipe="cardPartialSwipe(amt)" ng-repeat="employee in employees" class="card-{{$index}}" on-destroy="cardDestroyed($index)" ng-class="{'animate bounceOutRight':employee.btnRightClick , 'animate bounceOutLeft':employee.btnLeftClick}">
          <div class="image">
          	<div class="no-text" ng-style="employee.leftTextOpacity">NOPE</div>
            <img src="{{employee.profilePictureURL}}" ng-click="getEmployeeProfile(employee.id)">
            <div class="yes-text" ng-style="employee.rightTextOpacity">YES</div>
          </div>
          <div class="card-info">
          	<h4>
          {{employee.firstName}} {{employee.lastName}}</h4>
          </div>	
			<div class="row">
                <div class="col col-33">
                    <button class="button button-third" ng-click= "showAdditionalInformation('skills')">
                    <i class="ion-settings" data-pack="default" data-tags="delete, trash, kill, x"></i>
                      
                    </button>
                </div>
                <div class="col col-33">
                    <button class="button button-third" ng-click = "showAdditionalInformation('education')">
                    <i class="ion-university" data-pack="default" data-tags="delete, trash, kill, x"></i>
                     </button>
                </div>
                <div class="col col-33">
                    <button class="button button-third" ng-click="showAdditionalInformation('work experience')">
                    <i class="ion-briefcase" data-pack="default" data-tags="delete, trash, kill, x"></i>
                     </button>
			           </div>	
            </div>
        </td-card>
        </td-cards>
       </ion-content>
        <!-- <div class="bar bar-footer choose-btn-footer">
            <div class="col col-50 no-padding">
                 <button class= "btn choose-btn button-no" ng-click="btnSwipeLeft()">
                 <i class="ion-close-round" data-pack="default" data-tags="delete, trash, kill, x"></i>
                </button>
            </div>
            <div class="col col-50 no-padding">
             <button class="btn choose-btn button-yes" ng-click="btnSwipeRight()">
                  <i class="ion-checkmark-round" data-pack="default" data-tags="complete, finished, success, on"></i>
            </button>
            </div>
        </div> -->
</ion-pane>

<script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view class="popover-height">
	<ion-content>
	    <div class="list">
                <a class="item" href="#" ng-click="editJob(job.id)">
		    Edit Job
		</a>
                <a class="item" href="#" ng-click="showDelete(job.id)">
		    Delete Job
		</a>    
	</ion-content>	
    </ion-popover-view>	
</script>
																																		    
