<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
  <ion-nav-back-button class="button-clear dont-hide"  ng-click="goBack()" ng-disabled="disableBack">
      <i class="ion-chevron-left"></i> 
        </ion-nav-back-button>
  <ion-nav-buttons side="secondary">
          <button class="button btn-default btn-transparent" ng-show="isUser" ng-click="editJob(jobDetails.id)">
	      <i class="ion-edit icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i></button>
	  <button class="button btn-default btn-transparent" ng-show="isUser" ng-click="showDelete(jobDetails.id)">
    <i class="ion-trash-a icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i></button>
 
  </ion-nav-buttons>
   <ion-nav-title>
   {{jobDetails.title | limitTo:30}}{{myString.length > 30 ? '...' : ''}}
  </ion-nav-title>
    </ion-nav-bar>

<ion-pane ng-init="init()" class="login-container" >

    <ion-content class="has-header white-back">	 
    <div class="profile-picture-container">
	<img class= "profile-picture-image" ng-src="{{jobDetails.jobImageUrl}}" alt="" />
    </div>
    <div class="about-container">
	<h5 class="currency-header"><i class="ion-social-usd" data-pack="social" data-tags="currency, trade, money, cash"></i>{{jobDetails.wage}}/hour</h5>
          	<h4 class='job-title-header'>
                {{jobDetails.title}}</h5>
	    <h6 class="posted-header">Posted By: {{jobDetails.postedBy.firstName}}</h4>
          	<h6 class= "about-header">Job Description</h5>
          	<p class='description-paragraph'>{{jobDetails.description}}</p>
          </div>	

    </div>
    
    </ion-content>
</ion-pane>
