<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	<ion-nav-back-button class="button-clear dont-hide">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	<ion-nav-buttons side="secondary">
        <button class="button" ng-click="openMessages()">
	 	<i class="ion-chatboxes  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
	 	<div class="new-notification" ng-cloak ng-show="showNewMessageNotification"></div> 

	</button>
	</ion-nav-buttons>
	 <ion-nav-title>
	Create Job
	</ion-nav-title>
    </ion-nav-bar>


<ion-pane class="login-container" ng-init="init()">
	<ion-content class="has-header ">
	<div class="card" ng-show="showError">
	  <div class="item item-text-wrap">
	    {{errorMesssage}}
	  </div>
	</div>
	<div class= "card ">
	    <div class="item item-divider">
		Job Details
	    </div>	
	<div class="list ">
  		<label class="item item-input">
    		<span class="input-label">Job Title</span>
    		<input type="text" ng-model="job.title" required>

  		</label>


  		<label class="item item-input item-select">
		    <div class="input-label">
		      Type of Job
		    </div>
		    <select ng-model= "job.jobClassSelected">
			      <option value="{{jobClass.id}}" ng-repeat="jobClass in jobClasses">{{jobClass.name}}</option>
		    </select>
  		</label>

		<label class="item item-input" ng-hide="useGuaranteePay">
    		<span class="input-label">Job Pay ($/hour)</span>
    		<input type="text" ng-model="job.pay" required money >
  		</label>

  		<label class="item item-input">
  			<span class="input-label">Job Description</span>
    		<textarea  ng-model="job.description"></textarea required>
  		</label>
  	
  		</div>	
	</div>
	<div class= "card ">
	    <div class="item item-divider">
		Location of Your Job
	    </div>	
		    <label class="item item-radio">
			<input type="radio" name="group" checked="checked" ng-click="useAddress(false)">
			<div class="item-content">
			  Use My Location
			</div>
			<i class="radio-icon ion-checkmark"></i>
		     </label>

		     <label class="item item-radio">
			<input type="radio" name="group" ng-click="useAddress(true)">
			<div class="item-content">
			  Use Address
			</div>
			<i class="radio-icon ion-checkmark"></i>
		     </label>
	</div>
    <div class= "card " ng-show="useJobAddress">
	    <div class="item item-divider">
		Use Address
	    </div>	

	<div class='address'>
			<div class="list">
			  <label class="item item-input">
				<span class="input-label">Address</span>
			    <input type="text" ng-model= "address.address" placeholder="Address" ng-change="changeAddress(address)">
			  </label>
			  <label class="item item-input">
				<span class="input-label">City</span>
			    <input type="text" ng-model= "address.city" placeholder="City"  ng-change="changeAddress(address)">
			  </label>
<label class="item item-input item-select">
			    <div class="input-label">
			    Country
			    </div>
		    	<select ng-model= "address.country"  ng-change="changeAddress(address)">
					<option value="CA">Canada</option>
					<option value="US">USA</option>
		    	</select>
		    </label>
			  <label class="item item-input item-select">
			      <div class="input-label">
				Region
			    </div>
			   <select ng-model= "address.region" ng-change="changeAddress(address)">
				   <option value="AL" ng-show="showAmericanRegions">Alabama</option>
				   <option value="AK" ng-show="showAmericanRegions">Alaska</option>
				   <option value="AZ" ng-show="showAmericanRegions">Arizona</option>
				   <option value="AR" ng-show="showAmericanRegions">Arkansas</option>
				   <option value="CA" ng-show="showAmericanRegions">California</option>
				   <option value="CO" ng-show="showAmericanRegions">Colorado</option>
				   <option value="CT" ng-show="showAmericanRegions">Connecticut</option>
				   <option value="DE" ng-show="showAmericanRegions">Delaware</option>
				   <option value="DC" ng-show="showAmericanRegions">District Of Columbia</option>
				   <option value="FL" ng-show="showAmericanRegions">Florida</option>
				   <option value="GA" ng-show="showAmericanRegions">Georgia</option>
				   <option value="HI"  ng-show="showAmericanRegions">Hawaii</option>
				   <option value="ID" ng-show="showAmericanRegions">Idaho</option>
				   <option value="IL" ng-show="showAmericanRegions">Illinois</option>
				   <option value="IN" ng-show="showAmericanRegions">Indiana</option>
				   <option value="IA" ng-show="showAmericanRegions">Iowa</option>
				   <option value="KS" ng-show="showAmericanRegions">Kansas</option>
				   <option value="KY" ng-show="showAmericanRegions">Kentucky</option>
				   <option value="LA" ng-show="showAmericanRegions">Louisiana</option>
				   <option value="ME" ng-show="showAmericanRegions">Maine</option>
				   <option value="MD" ng-show="showAmericanRegions">Maryland</option>
				   <option value="MA" ng-show="showAmericanRegions">Massachusetts</option>
				   <option value="MI" ng-show="showAmericanRegions">Michigan</option>
				   <option value="MN" ng-show="showAmericanRegions">Minnesota</option>
				   <option value="MS" ng-show="showAmericanRegions">Mississippi</option>
				   <option value="MO" ng-show="showAmericanRegions">Missouri</option>
				   <option value="MT" ng-show="showAmericanRegions">Montana</option>
				   <option value="NE" ng-show="showAmericanRegions">Nebraska</option>
				   <option value="NV" ng-show="showAmericanRegions">Nevada</option>
				   <option value="NH" ng-show="showAmericanRegions">New Hampshire</option>
				   <option value="NJ" ng-show="showAmericanRegions">New Jersey</option>
				   <option value="NM" ng-show="showAmericanRegions">New Mexico</option>
				   <option value="NY" ng-show="showAmericanRegions">New York</option>
					<option value="NC" ng-show="showAmericanRegions">North Carolina</option>
					<option value="ND" ng-show="showAmericanRegions">North Dakota</option>
					<option value="OH" ng-show="showAmericanRegions">Ohio</option>
					<option value="OK" ng-show="showAmericanRegions">Oklahoma</option>
					<option value="OR" ng-show="showAmericanRegions">Oregon</option>
					<option value="PA" ng-show="showAmericanRegions">Pennsylvania</option>
					<option value="RI" ng-show="showAmericanRegions">Rhode Island</option>
					<option value="SC" ng-show="showAmericanRegions">South Carolina</option>
					<option value="SD" ng-show="showAmericanRegions">South Dakota</option>
					<option value="TN" ng-show="showAmericanRegions">Tennessee</option>
					<option value="TX" ng-show="showAmericanRegions">Texas</option>
					<option value="UT" ng-show="showAmericanRegions">Utah</option>
					<option value="VT" ng-show="showAmericanRegions">Vermont</option>
					<option value="VA" ng-show="showAmericanRegions">Virginia</option>
					<option value="WA" ng-show="showAmericanRegions">Washington</option>
					<option value="WV" ng-show="showAmericanRegions">West Virginia</option>
					<option value="WI" ng-show="showAmericanRegions">Wisconsin</option>
					<option value="WY" ng-show="showAmericanRegions">Wyoming</option>

					<option value="AB" ng-show="showCanadianRegions">Alberta</option>
					<option value="BC" ng-show="showCanadianRegions">British Columbia</option>
					<option	value="MB" ng-show="showCanadianRegions">Manitoba</option>
					<option value="NB" ng-show="showCanadianRegions">New Brunswick</option>
					<option value="NL" ng-show="showCanadianRegions">Newfoundland and Labrador</option>
					<option value="NS" ng-show="showCanadianRegions">Nova Scotia</option>
					<option value="ON" ng-show="showCanadianRegions">Ontario</option>
					<option value="PE" ng-show="showCanadianRegions">Prince Edward Island</option>
					<option value="QC" ng-show="showCanadianRegions">Quebec</option>
					<option value="SK" ng-show="showCanadianRegions">Saskatchewan</option>
					<option value="NT" ng-show="showCanadianRegions">Northrthwest Territories</option>
					<option value="NU" ng-show="showCanadianRegions">Nunavut</option>
					<option value="YT" ng-show="showCanadianRegions">Yukon</option>
					</select>
				    </label>

				    
			
			</div>
	</div>
    </div>
	<div class="card">
	    <div class="item item-divider">
	    	Guarantee Pay
	    </div>	

	      <div class="item no-overflow">
		  Guarantee Pay gives your job posting the highest priority. Also, it allows you to pay your worker with your credit card
	      </div>
		    <label class="item item-radio">
			<input type="checkbox" name="group" ng-model="useGuaranteePay" ng-change = "changeGuaranteePay(useGuaranteePay)" >
		    <div class="item-content">
		       Use Guarantee Pay
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		 </label>
		<label class="item item-input" ng-show= "useGuaranteePay">
		  <span class="input-label">How Much Are You Paying For This Job</span>
		  <input type="text" ng-model="guaranteePayWage" money ng-change="changePay(guaranteePayWage)">
  		</label>
		 </div>
	</div>
<div class="col margin-bottom">
	<button class="button  btn-right button-positive pull-right" ng-click="checkJob();createJob()" ng-show="!showPayWithCredit" >
  Create Job <i class="ion-ios-plus" data-pack="default" data-tags="menu, hamburger, slide menu" ></i>
</button>
	<button class="button  btn-right button-positive pull-right" ng-click="checkJob();checkGuaranteePayValue();popover.show($event)" ng-show="showPayWithCredit">
  Pay With Card And Create Job <i class="ion-ios-plus" data-pack="default" data-tags="menu, hamburger, slide menu" ></i>
</button>
</div>

</form>
	

	</ion-content>
	

</ion-pane>	
	
<script id="templates/popover.html" type="text/ng-template">
    <ion-popover-view class="popover-height popover form credit-form">
	<ion-content>
	    <div class="list">
		  <label class="item item-input">
		      <span class="input-label">Card Number </span>
		          <input type="text" placeholder="Card Number" payments-validate="card" payments-format="card" ng-model = "card.creditCardNumber">
		    </label>
	    <label class="item item-input">
		<span class="input-label">Expiry Date </span>
		<input type="text" placeholder="MM/YYYY" payments-validate="expiry" payments-format="expiry" ng-model="card.creditCardExpiryDate">
	    </label>
	    <label class="item item-input">
		<span class="input-label">CVC</span>
		<input type="text" ng-model="card.creditCardCVC" payments-validate="cvc" payments-format="cvc" placeholder="CVC">
	    </label>
	    <div class="padding">
		<button class="button button-block button-positive" ng-click="payWithCredit(card)" >Pay With Credit Card</button>
	    </div>

		</div>
	</ion-content>	
    </ion-popover-view>	
</script>
