<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	<ion-nav-back-button class="button-clear dont-hide">
	    <i class="ion-chevron-left"></i>
	      </ion-nav-back-button>
	 <ion-nav-title>
	 Edit Job
	</ion-nav-title>
    </ion-nav-bar>


<ion-pane class="login-container" ng-init="init()">



	<ion-content class="has-header ">
	<div class="card" ng-show="showError">
	  <div class="item item-text-wrap">
	    {{errorMesssage}}
	  </div>
	</div>
	<div class="list list-inset">
  		<label class="item item-input">
    		<span class="input-label">Job Title</span>
    		<input type="text" ng-model="job.title"required>

  		</label>


  		<label class="item item-input item-select">
		    <div class="input-label">
		      Type of Job
		    </div>
		    <select ng-model= "job.jobClass">
			      <option value="{{jobClass.id}}" ng-repeat="jobClass in jobClasses">{{jobClass.name}}</option>
		    </select>
  		</label>

  		<label class="item item-input">
    		<span class="input-label">Job Pay ($/hour)</span>
    		<input type="text" ng-model="job.wage" required money>
  		</label>

  		<label class="item item-input">
  			<span class="input-label">Job Description</span>
    		<textarea  ng-model="job.description"></textarea required>
  		</label>
  	

	</div>	

	<button class="button  btn-right button-positive pull-right" ng-click="saveJob()" ng-disabled="!(!!job.title && !!job.wage  && !!job.description)">
  Save Job <i class="ion-ios-plus" data-pack="default" data-tags="menu, hamburger, slide menu" ></i>
</button>
</form>
	

	</ion-content>
	

</ion-pane>	
	
