<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	<ion-nav-back-button class="button-clear dont-hide">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	<ion-nav-buttons side="secondary">
        <button class="button" ng-click="openMessages()">
	 	<i class="ion-chatboxes  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
    <div class="new-notification" ng-cloak ng-show="{{$root.showNewMessageNotification}}"></div> 
	</button>
	</ion-nav-buttons>
	 <ion-nav-title>
	 Your Matches
	</ion-nav-title>
    </ion-nav-bar>


<ion-pane ng-init="getJobMatches()" >

    <ion-content class="has-header has-footer" >
    <ion-refresher
        pulling-text="Pull to refresh..."
	on-refresh="refreshMatches()">
    </ion-refresher>
	<div class="card" ng-show = "showNoMatches">
 		 <div class="item item-text-wrap">
    		You have no Matches
	    </div>
	</div>
	<div class="list">
		<div class="row" ng-show="showLoading">
  			<i class="icon ion-loading-c mid-loading-style blue-loading"></i>
 		 </div>
	    <div class="item item-divider" ng-show="guaranteeJobMatches.length > 0">
		Guarantee Pay Matches
		      </div>
	    <div class="item item-button-right item-avatar" ng-repeat="guaranteeJobMatch in guaranteeJobMatches">
			<img ng-src="{{guaranteeJobMatch.otherUser.profilePictureURL}}">
			<h2>{{guaranteeJobMatch.otherUser.name}} </h2>
			<p>{{guaranteeJobMatch.job.title}} </p>
			<p>${{guaranteeJobMatch.job.wage}} </p>
			<p ng-show="guaranteeJobMatch.isCompleted">Job Completed</p>
			<p ng-show="guaranteeJobMatch.isCompleted && !guaranteeJobMatch.isEmployer">${{guaranteeJobMatch.job.wage}} added to your account</p>
			<p ng-show="guaranteeJobMatch.isHired">Hired</p>
			<p ng-show="guaranteeJobMatch.isOffered">Job Offered</p>
			<p ng-show="guaranteeJobMatch.isMatched ">Matched : {{guaranteeJobMatch.dateMatched}}</p>

<button class="button button-positive button-large button-down" ng-show="guaranteeJobMatch.isHired && guaranteeJobMatch.isEmployer" ng-click="jobCompleted(guaranteeJobMatch.id,'guarantee')">
			    Job Completed
			</button>
			<button class="button button-positive button-large button-left button-down" ng-show="guaranteeJobMatch.isOffered && !guaranteeJobMatch.isEmployer" ng-click="acceptOffer(guaranteeJobMatch.id,'guarantee')">
				<i class="ion-checkmark-round"></i>
			</button>
			<button class="button button-positive button-large button-left button-down" ng-show="guaranteeJobMatch.isMatched && guaranteeJobMatch.isEmployer" ng-click="offerMatch(guaranteeJobMatch.id,'guarantee')">

			<i class="ion-checkmark-round"></i>
			</button>
			</button>
		    <button class="button button-assertive button-large button-down" ng-show="guaranteeJobMatch.isMatched || guaranteeJobMatch.isOffered" ng-click="removeMatch(guaranteeJobMatch.id,'guarantee')">
			<i class="ion-close-round"></i>

			</button>
	    </div>
	    <div class="item item-divider" ng-show="regularMatches.length > 0">
		Matches
	    </div>
	    <div class="item item-button-right item-avatar" ng-repeat="jobMatch in regularMatches">
		<img ng-src="{{jobMatch.otherUser.profilePictureURL}}">
			<h2>{{jobMatch.otherUser.name}} </h2>
			<p>{{jobMatch.job.title}} </p>
				<p>${{jobMatch.job.wage}}/hour </p>
			<p ng-show="jobMatch.isCompleted">Job Completed</p>
			<p ng-show="jobMatch.isHired">Hired</p>
			<p ng-show="jobMatch.isOffered">Job Offered</p>
			<p ng-show="jobMatch.isMatched">Matched : {{jobMatch.dateMatched}}</p>
			
<button class="button button-positive button-large button-down" ng-show="jobMatch.isHired && jobMatch.isEmployer" ng-click = "jobCompleted(jobMatch.id,'regular')">
			    Job Completed
			</button>
			<button class="button button-positive button-large button-left button-down" ng-show="jobMatch.isOffered && !jobMatch.isEmployer" ng-click="acceptOffer(jobMatch.id,'regular')">
				<i class="ion-checkmark-round"></i></button>
			<button class="button button-positive button-large button-left button-down" ng-show="jobMatch.isMatched && jobMatch.isEmployer" ng-click="offerMatch(jobMatch.id,'regular')">

			<i class="ion-checkmark-round"></i>
			</button>
			</button>
		    <button class="button button-assertive button-large button-down" ng-show="jobMatch.isMatched || jobMatch.isOffered" ng-click="removeMatch(jobMatch.id,'regular')">
			<i class="ion-close-round"></i>

			</button>

	    </div>

	</div>
	</ion-content>
	<div class="bar bar-footer footer-default">
 
</div>
</ion-pane>	
	
	
