<ion-pane class="login-container" >
  <div class="col login-logo-container" >
  	<img src="img/jobswipelogo-large.png" class="login-logo">
  </div>
  <img class="login-with-facebook" src="img/login-with-facebook.png" ng-click = "login()" ng-hide="hideLogin">
  
  <div class="row" ng-show="showLoading">
  	<i class="icon ion-loading-c mid-loading-style"></i>
  </div>
  <div class="row" ng-show="showLoading">
  	<h4 class="center-header">Setting Up Your Account</h4>
  </div>
</ion-pane>
