<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	<ion-nav-back-button class="button-clear dont-hide"  ng-click="goBack()">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	 <ion-nav-title>
	Messages
	</ion-nav-title>
    </ion-nav-bar>
<ion-pane ng-init="init()">
	<ion-content class="has-header white-back">
 <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshMessages()">
    </ion-refresher>

	<div class="list">
		<div class="row" ng-show="showLoading">
  			<i class="icon ion-loading-c mid-loading-style blue-loading"></i>
 		 </div>
	    <a class="item item-avatar" href="#" ng-repeat="message in messages" ng-class="{unread:message.isUnread}" ng-click="getChatRoom(message.id)">
		    <img src="{{message.user.profilePictureURL}}">
		    <h2>{{message.user.firstName}} </h2>
		    <p>{{message.showMessage}}</p>
		    
			 </a>
			</div>
	</ion-content>	
</ion-pane>		
