<ion-pane class="full-cover-container" ng-show="showAdditional" ng-init="">
    <div class="row">
        <div class="additional-information-wrapper">
            <button class="btn close-button additional-button-close" ng-click="hideAdditionalInformation()">X</button>
          <!-- show if type is skills, work experience, education -->
            <h4 class="additonal-information-header"> 
                {{additionalInformation.type}}
            </h4>
            <div class="additional-information-container padding">
                <!-- Skills container -->
                <div class="skills-container" ng-show="showSkills">
                    <ul>
                        <li ng-repeat= "skill in additionalInformation.data">
                            {{skill}}
                        </li>
                    </ul>
                </div>    
                <!-- Education container -->
                <div class="education-container" ng-show="showEducation">
                    <ul>
                        <li ng-repeat= "education in additionalInformation.data">
			<h5 class="no-margin-bottom"> {{education.value}}</h5>
			<p>{{education.institution}}</p>
                        </li>
                    </ul>                    
                </div>
                <!-- Work Experience container-->
                <div class="work-experience-container" ng-show="showWorkExperience">
                    <ul>
                        <li ng-repeat= "workExperience in additionalInformation.data">
			<h5 class="no-margin-bottom"> {{workExperience.title}}</h5>
			<p>{{workExperience.companyName}}</p>
                        </li>
                    </ul>  
                </div>    
            </div>

        </div>
    </div>
</ion-pane>
