<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
      <ion-nav-buttons side="left">
        <button class="button" ng-click="toggleLeftSideMenu()">
	 	<i class="ion-navicon-round list-icon icon-header" data-pack="default" data-tags="menu, hamburger, slide menu" ng-click="toggleLeftSideMenu()"></i>
	</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="secondary">
    <button class="button" ng-click="openJobMatches()" >
	 	<i class="ion-ios-briefcase  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
	 	<div class="new-notification" ng-cloak ng-show="showNewMatchNotification"></div> 

        <button class="button" ng-click="openMessages()">
	 	<i class="ion-chatboxes  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
	 	<div class="new-notification" ng-cloak ng-show="showNewMessageNotification"></div> 

	</button>
	</ion-nav-buttons>
	 <ion-nav-title>
	 JobSwiper
	</ion-nav-title>
    </ion-nav-bar>


<ion-pane ng-init="init()" >

    <ion-content class="has-header has-footer" >
    <ion-refresher
        pulling-text="Pull to refresh..."
	on-refresh="refreshJobs()">
    </ion-refresher>
	<div class="card" ng-show = "showNoJobs">
 		 <div class="item item-text-wrap">
    		You have no jobs posted, please click the "+" button on the bottom right corner to add a job.
  		</div>
	</div>
	<div class="list">
		<div class="row" ng-show="showLoading">
  			<i class="icon ion-loading-c mid-loading-style blue-loading"></i>
 		 </div>
    	<a class="item item-avatar" href="#" ng-repeat="job in jobs" ng-click="selectJob(job.id)">
	    <div class="num-applicants-container" ng-class="{'new-applicants':job.hasNew}">
      		<h2>{{job.num_new_applicants}}</h2>
		
      		<span>New</span>	
      		<span>Applicants</span>	
      	</div>	
      	<h2>{{job.title}}</h2>
	<span  class= "is-guarantee" ng-show="job.isGuaranteePay"><i class="ion-cash"></i> Guarantee Pay </span>
	<p>${{job.wage}}<span ng-show="!job.isGuaranteePay"> / hour <span class = "new-text" ng-show="job.isNew">New</span></p>
    	</a>
	</div>
	</ion-content>
	<div class="bar bar-footer footer-default">
  <button class="button button-calm pull-right" ng-click = "createNewJob()"> Add A Job<i class="ion-ios-plus-empty icon-header margin-left-small" data-pack="default" data-tags="menu, hamburger, slide menu" ></i></button>
</div>
</ion-pane>	
	
	
