<ion-side-menus >

  <ion-side-menu-content drag-content="false">
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu  side="left" on-swipe-right="onSwipeRight()" >
    <header class="bar bar-header bar-stable">
      <h1 class="title">Profile</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close ng-click="getProfile()">
          My Profile
        </ion-item>
	<!--
        <ion-item nav-clear menu-close ng-click="userLogout()">
         Logout
	 </ion-item> -->

</ion-side-menus>
