<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
      <ion-nav-back-button class="button-clear dont-hide" ng-click = 'profileBack()'>
        <i class="ion-chevron-left"></i> 
          </ion-nav-back-button>
          <ion-nav-buttons side="secondary">
        <button class="button" ng-click="editProfile()" ng-show= "isUser">
	 	<i class="ion-edit  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
	</button>
	</ion-nav-buttons>
     <ion-nav-title>
     {{userProfile.firstName}}
    </ion-nav-title>
    </ion-nav-bar>


<ion-pane ng-init="init()" class="login-container" >
    <ion-content class="has-header white-back">	 
    <div lass="profile-picture-container">
	<img class= "profile-picture-image" ng-src="{{userProfile.profilePictureUrl}}" alt="" />
    </div>
    <div class="about-container">
	<h2>{{userProfile.firstName}}</h2>
	<h5 ng-show="!isUser">{{userProfile.distance}} km away</h5>
	<h3>About {{userProfile.firstName}}</h3>
	<p class="paragraph-desc">{{userProfile.description}}</p>
    </div>
    
    </ion-content>
</ion-pane>
