<ion-pane class="match-container" ng-init="matchInit()">
<h2 class= "match-header">It's a match!<h1>        
	<h3 class="match-job-header">{{matchData.job.title}} </h2>
<div class="row">
    <div class="col col-33 col-offset-10 match-tile">
        <img src="{{employer.profilePictureURL}}">
        <h3 class = "match-name">{{employer.firstName}}</h4>
    </div>
    <div class="col col-33 col-offset-10 match-tile">
        <img src="{{employee.profilePictureURL}}">
        <h3 class= "match-name">{{matchData.employee.firstName}}</h4>
     </div> 
</div>    
<div class="row">
    <div class= "col col-50">
        <button class="button button-positive btn-match" ng-click="gotoChatroom(matchData.jobMatchID)">Send A Message <i class="ion-chatboxes margin-left-small"></i></button>
    </div>
    <div class="col col-50">
        <button class= "button button-calm btn-match" ng-click="hideMatch()">Keep Playing <i class="ion-person margin-left-small"></i></button>
    </div>
</div>    
</ion-pane>
