<ion-pane class="startup" ng-init= "getLoginStatus()">
  <div class="col splash-logo-container" >
  	<img src="img/jobswipelogo-large.png" class="splash-logo">
  </div>
   <div class="row">
</div>
</ion-pane>
