<ion-view>
  <ion-slide-box>
      <ion-slide>
            <div class="box blue">
		<h3 class="intro-header">Swipe Right To Apply For A Job</h3>
		<img class="intro-img" src="img/employee1.png">
	    </div>
	</ion-slide>
  <ion-slide>
            <div class="box blue">
		<h3 class="intro-header">Message Employers When You Match</h3>
		<img class="intro-img" src="img/employee3.png">
	    </div>
	</ion-slide>
  <ion-slide>
            <div class="box blue">
		<h3 class="intro-header">Accept and Decline Job Offers</h3>
		<img class="intro-img" src="img/employee4.png">
	    </div>
	</ion-slide>
  <ion-slide>
            <div class="box blue">
		<h3 class="intro-header">Get A Cheque Mailed To You From Completed "Guarantee Pay" Jobs</h3>
		<img class="intro-img" src="img/employee5.png">
		<button class=" done-button button button-calm" ng-click="gotoEmployeeDash()">Done</button>
	    </div>
	</ion-slide>
    </ion-slide-box>
</ion-view>

