<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	<ion-nav-back-button class="button-clear dont-hide">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	 <ion-nav-title>
	Your Settings
	</ion-nav-title>
    </ion-nav-bar>
<ion-pane ng-init="init()">
	<ion-content class="has-header white-back">
	<div class="list">
 <ion-list>
        <ion-item nav-clear menu-close ng-click = "getProfile()">
	    My Profile 
        </ion-item>
	<ion-item nav-clear menu-close  ng-click = "changeDiscoveryPreferences()">
	Discovery Preferences
        </ion-item>
	<!-- <ion-item nav-clear menu-close ng-click="userLogout()">
         Logout
	 </ion-item> -->

	</div>
		    
	</ion-content>	
</ion-pane>		
