<ion-pane class="login-container" >
        <div  class="employee-card"  ng-click="chooseUserType('employee')" >
          <div class="choose-image">
            <img src="img/employer.png"> 
            <h2 class= "choose-label">Employee</h2>
          </div>
        </div>


        <div  class="employer-card" ng-click = "chooseUserType('employer')" >
          <div class="choose-image">
            <img src="img/employer.png"> 
            <h2 class="choose-label">Employer</h2>
          </div>
      </div>

</ion-pane>
