<ion-pane class="login-container" >
	<div class="bar bar-header bar-default">
		<h1 class="title default-bar-title">PROFILE CREATION</h1>
	</div>

	

	<ion-content class="has-header" ng-init="employeeInit()">
	 <i class="icon ion-looping default-loading ng-cloak new-loading"  ng-show="showLoading" ></i>
		 <div class="page-content" ng-cloak ng-show="showPageContent">
			<h4 class="white default-header">What Kind of Jobs Are You Looking For?</h4>
			<ul class="list">
		  		<li class="item item-checkbox checkbox-overrides profile-creation-checkbox" ng-repeat= "jobtype in jobTypes">
		     		<label class="checkbox more-padding" >
		       			<input type="checkbox" value ="{{jobtype.id}}" ng-click="selectJobType(jobtype.id)">
		     		</label>
		     		{{jobtype.name}}
		  		</li>
			</ul>
			<h4 class="white default-header">What Wage Are You Expecting?</h4>
			<div class="list list-main">
				<label class="item item-radio">
				    <input type="radio" name="group"  value="0" ng-model="wageExpectations" checked>
				    <div class="item-content">
				      All wages
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				 </label>



				<label class="item item-radio">
				    <input type="radio" name="group" ng-model="wageExpectations" value="1" >
				    <div class="item-content" >
				      $0 - $50 per hour
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				 </label>

				<label class="item item-radio">
				    <input type="radio" name="group"  ng-model="wageExpectations" value="2">
				    <div class="item-content">
				      $50 - $100 per hour
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				 </label>


				<label class="item item-radio">				    
					<input type="radio" name="group" ng-model="wageExpectations" value="3" >
				    <div class="item-content">
				      More Then $100 per hour
				    </div>
				    <i class="radio-icon ion-checkmark"></i>
				 </label>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer footer-default">
		<button class="button button-clear pull-right" ng-click="createEmployeeBaseData()">Next >></button>
	</div>
 		
			
</ion-pane>