<ion-pane class="login-container" ng-init="employerInit()">
	<div class="bar bar-header bar-default">
		<h1 class="title default-bar-title">PROFILE CREATION</h1>
	</div>
	
	

	<ion-content class="has-header" >

		<div class="row">
			 <i class="icon ion-looping default-loading ng-cloak new-loading"  ng-show="showLoading" ></i>
		</div>
		<div class="page-content" ng-cloak ng-show="showPageContent">
			<h4 class="white default-header">Choose Company Name</h4>
			
				<div class="list list-inset">
				  <label class="item item-input">
				    <input type="text" ng-model="companyName" placeholder="Enter Company Name">
				  </label>

				</div>
			<h4 class="white default-header">Enter Company Description</h4>	
			<div class="list list-inset">
				<label class="item item-input">
	    			<textarea placeholder="Short Company Description(optional)" ng-model = "companyDescription"></textarea>
	  			</label>
  			</div>

		</div>
	</ion-content>
	<div class="bar bar-footer footer-default">
		<button class="button button-clear pull-right" ng-click="createEmployerBaseData()">Next >></button>
	</div>
 		
			
</ion-pane>