<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
      <ion-nav-back-button class="button-clear dont-hide">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	<ion-nav-buttons side="secondary">
  
	</ion-nav-buttons>
	 <ion-nav-title>
	Choose A Picture
	</ion-nav-title>
    </ion-nav-bar>






<ion-pane ng-init="loadInit()">
	
	<ion-content class="has-header black-back">
		<div class="row no-padding" 
		ng-repeat="result in (displayPictureChoices.length/3 | array)">
			<div class="col col-33 change-profile-pic" ng-repeat="result in displayPictureChoices.slice(3*$index, 3*$index + 3)" style = "background-image:url({{result.thumbnail}})" ng-click="cropImage(result.id)">
			
			</div>	

		</div>
		<ion-infinite-scroll
    	on-infinite="loadMorePictures()"
   		distance="1%">
  	</ion-infinite-scroll>	
	</ion-content>
</ion-pane>
