<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
      <ion-nav-back-button class="button-clear dont-hide">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	<ion-nav-buttons side="secondary">
  
	</ion-nav-buttons>
	 <ion-nav-title>
	 Change Profile Picture
	</ion-nav-title>
    </ion-nav-bar>






<ion-pane  ng-init="changeProfilePicture(null)">
	<ion-content class="has-header">

		<div ng-show = "showDisplayPictures"> 
		<div class="row no-padding" 
		ng-repeat="result in (displayPictureChoices.length/3 | array)">
			<div class="col col-33 change-profile-pic" ng-repeat="result in displayPictureChoices.slice(3*$index, 3*$index + 3)">
				<img src="{{result.thumbnail}}">
			</div>	

		</div>
		<ion-infinite-scroll
    	on-infinite="loadMorePictures()"
   		distance="1%">
  	</ion-infinite-scroll>	
		</div>

		<div class="list" ng-show = "showPictureList">
		    <a class="item item-thumbnail-left" ng-click = "showDisplayPictureType('profile')">
		      <img src="{{photosOfYouThumbnail}}">
		      <h2>Photos of You</h2>
		    </a>
		</div>

	
	</ion-content>

</ion-pane>	
	
