<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header must-hide">
	<ion-nav-back-button class="button-clear dont-hide">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	 <ion-nav-title>
	Crop Picture
	</ion-nav-title>
    </ion-nav-bar> 

<ion-pane  class= "dark-back" ng-init="loadInit()">
	<ion-content class="">
	
  <div class="cropArea">
    <img-crop image="myImage" class="img-crop" area-type="square" result-image="myCroppedImage" result-image-size="300"></img-crop>
  </div>
	</div>
	<input type="hidden" class="data-val" ng-change = "logit()"  value = "{{myCroppedImage}}" ng-model = "value">
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-positive">
	  <div class="buttons">
	      <button class="button" ng-click="goBack()">Cancel</button>
	</div>
	<h1 class="title">Crop Picture!</h1>
	<div class="buttons" >
	    <button class="button right-float" ng-click="cropPicture();goToState()">Ok</button>
	  </div>

      </ion-footer-bar>

</ion-pane>
