<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
      <ion-nav-back-button class="button-clear dont-hide" ng-click="goBack()" ng-disabled="disableBack">
        <i class="ion-chevron-left"></i> 
          </ion-nav-back-button>
     <ion-nav-title>
     Discovery Preferences
    </ion-nav-title>
    </ion-nav-bar>
<ion-pane class="regular-container">

	

	<ion-content class="has-header " ng-init="init()">
		 <div class="page-content" ng-cloak>
<div class= "card ">
	    <div class="item item-divider">
		Job Types
	    </div>	
			<ul class="list">
		  		<li class="item item-checkbox no-border" ng-repeat= "jobtype in jobTypes">
		     		<label class="checkbox" >
				    <input type="checkbox" value ="{{jobtype.id}}" ng-click="selectJobType(jobtype.id)"  ng-checked = "jobtype.checked">
					</input>
		     		</label>
		     		{{jobtype.name}}
		  		</li>
			</ul>
		</div>
	<div class= "card ">
	    <div class="item item-divider">
	Search Distance
	    </div>	

			<div class="range">
			    <h5>{{searchDistance}}km</h5>
			    <input type="range" min="1" max="200" name="distance" ng-model="searchDistance" value="{{searchDistance}}" ng-change="updateDistance(searchDistance)">
			      </div>
	</div>
	<div class= "card ">
	    <div class="item item-divider">
	Lowest Acceptable Wage
	    </div>			      
			<div class="range">
			    <h5> ${{lowestAcceptableWage}}</h5> 
			    <input type="range" name="volume" ng-model="lowestAcceptableWage" min="0" max="100" value="{{lowestAcceptableWage}}" ng-change="updateWage(lowestAcceptableWage)">
			</div> 
		</div>
		</div>
		<div class="row inline">
		    <button ng-click="updateDiscoverySettings()" class="button button-positive button-right">
			Save
			</button>
		</div>
	</ion-content>
 		
			
</ion-pane>
