<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
      <ion-nav-back-button class="button-clear dont-hide" ng-click="editBack()">
        <i class="ion-chevron-left"></i> 
          </ion-nav-back-button>
     <ion-nav-title>
     Edit Profile
    </ion-nav-title>
    </ion-nav-bar>


<ion-pane ng-init="editInit()" class="login-container" >
    <ion-content class="has-header white-back">	 
    <!--    <div class="profile-picture-container" ng-click = "editProfilePicture()">
	<img ng-src="{{userProfile.profilePictureURL}}" alt="" />
    </div> -->
    <div class="about-container">
  	<span class="input-label">About Me</span>
	<div class="list list-inset low-margin no-radius">
	      <label class="item item-input">
    		<textarea placeholder= "Enter a Description" ng-model="userProfile.description"></textarea >
		</label>
 <button class="button-right button button-positive button-small margin-top-bottom" ng-click="updateEmployeeProfile('description')"> 
		Save
		</button>
	</div>
	   
    </div>	
    <div class="list">
	  <div class="item item-divider" >
	           Your Skills
	  </div>
	  <div class="item item-button-right" ng-repeat="skill in userProfile.employeeSkills">
	      {{skill.value}}
	    <button class="button button-assertive button-small" ng-click="deleteEmployeeProfile('skill',skill.id)">
		Remove
	    </button>
	  </div>
	  <div class="item item-input-inset">
	      <form name = "addSkillForm">
	      <label class="item-input-wrapper inside-form">
	          <input type="text" name="Skill" placeholder="Add Skill" ng-model ="userProfile.newSkill" required minlength="3" maxlength="100">
	        </label>
	        <button class="button button-positive button-small" ng-click="updateEmployeeProfile('skill')" ng-disabled ="addSkillForm.$invalid">
			    Add
		 </button>
	     </form>
	  </div>
    </div>



    <div class="list">
	  <div class="item item-divider" >
	           Your Work Experience
	  </div>
	  <div class="item item-button-right"  ng-repeat="workExperience in userProfile.employeeWorkExperience">
	      <h2>{{workExperience.title}}</h2>
	      <p >{{workExperience.companyName}} </p>
	    <button class="button button-assertive button-small" ng-click="deleteEmployeeProfile('work experience',workExperience.id)">
		Remove
	    </button>
	  </div>
	  <form name="workExperienceForm">
	  <div class="item item-input-inset">
	      <label class="item-input-wrapper">
	          <input type="text" name ="workExperienceTitle" placeholder="Add Job Title" ng-model ="userProfile.newWorkExperience.title" required minlength="3" maxlength="100">
	        </label>
		<label class="item-input-wrapper">
	          <input type="text" placeholder="Add Company" name = "workExperienceCompany" ng-model ="userProfile.newWorkExperience.company" required minlength="3" maxlength="100">
	        </label>
	
	        <button class="button button-positive button-small" ng-click="updateEmployeeProfile('work experience')" ng-disabled="workExperienceForm.$invalid">
			    Add
		 </button>
		 </form>
	  </div>
    </div>

<div class="list">
	  <div class="item item-divider" >
	           Your Education
	  </div>
	  <div class="item item-button-right"  ng-repeat="education in userProfile.employeeEducation">
	      <h2>{{education.value}}</h2>
	      <p >{{education.institution}} </p>
	    <button class="button button-assertive button-small" ng-click="deleteEmployeeProfile('education',education.id)">
		Remove
	    </button>
	  </div>
	  <form name="educationForm">
	  <div class="item item-input-inset">
	      <label class="item-input-wrapper">
	          <input type="text" name ="educationTitle" placeholder="Add Diploma/Degree" ng-model ="userProfile.newEducation.value" required minlength="3" maxlength="100">
	        </label>
		<label class="item-input-wrapper">
	          <input type="text" placeholder="Add Institution" name = "educationInstitution" ng-model ="userProfile.newEducation.institution" required minlength="3" maxlength="100">
	        </label>
	
	        <button class="button button-positive button-small" ng-click="updateEmployeeProfile('education')" ng-disabled="educationForm.$invalid">
			    Add
		 </button>
		 </form>
	  </div>
    </div>

    </ion-content>
</ion-pane>
