<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	
	 <ion-nav-title>
	 Set Email
	</ion-nav-title>
    </ion-nav-bar>


<ion-pane class="login-container" ng-init="init()">



	<ion-content class="has-header ">
	<div class="card" ng-show="showError">
	  <div class="item item-text-wrap">
	    {{errorMessage}}
	  </div>
	</div>
	<div class='address'>
			<div class="list">
			  <label class="item item-input">
				<span class="input-label">Email</span>
			    <input type="text" ng-model= "email" placeholder="Email" >
			  </label>
			</div>
	</div>

	<button class="button  btn-right button-positive pull-right" ng-click="updateEmail(email)" >
  Save Email <i class="ion-ios-plus" data-pack="default" data-tags="menu, hamburger, slide menu" ></i>
</button>
</form>
	

	</ion-content>
	

</ion-pane>	
	
