<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
      <ion-nav-buttons side="left">
        <button class="button" ng-click="gotoEmployeeSettings()">
    <i class="ion-navicon-round list-icon icon-header" data-pack="default" data-tags="menu, hamburger, slide menu" ></i>
  </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
 <button class="button" ng-click="openJobMatches()">
	 	<i class="ion-ios-briefcase  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
    <div class="new-notification" ng-cloak ng-show="showNewMatchNotificationEmployee"></div> 

		</button>
        <button class="button" ng-click="openMessages()">
    <i class="ion-chatboxes  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
    <div class="new-notification" ng-cloak ng-show="showNewMessageNotificationEmployee"></div> 
  
  </button>
  </ion-nav-buttons>
   <ion-nav-title>
   JobSwiper
  </ion-nav-title>
    </ion-nav-bar>


<ion-pane  class="regular-container"  ng-init="employeeSearchInit()" no-drag-right>
	<ion-content class="has-header " no-drag-right>
  <div class="row" ng-show="showLoading">
        <i class="icon ion-loading-c mid-loading-style"></i>
     </div>
     <div class="row" ng-show="showLoading">
    <h4 class="center-header">Looking For Jobs</h4>
  </div>
		<div class="card" ng-show="showNoJobs">
		  <div class="item item-text-wrap no-bottom-border">
		  	There are no new jobs in the area
		  </div>
		  <button class="button button-positive look-for-jobs-button" ng-click="lookForJobs()">Look Again</button>
		</div>
	 <td-cards >
        <td-card on-swipe-left="onSwipeLeft(job.id)" on-swipe-right="onSwipeRight(job.id)" on-partial-swipe="cardPartialSwipe(amt)" ng-repeat="job in jobs" class="card-{{$index}}" on-destroy="cardDestroyed($index)" on-transition-out="onTransitionOut(amt,job.id)" class="swiper-employee">
          <div class="image">
          	<div class="yes-text" ng-style="job.rightTextOpacity">Apply</div>
            <img src="{{job.job_image_url}}" ng-show="!job.isScraped" ng-click= "getEmployerProfile(job.posted_by.id)">
	    <img ng-show="job.type == 'Cleaning' && job.isScraped " src="img/cleaningjobsbg.png" ng-click="openJobInBrowser(job.job_url)" > 
	    <img ng-show="job.type == 'Creative' && job.isScraped" src="img/creativejobsbg.png" ng-click="openJobInBrowser(job.job_url)"> 
	    <img ng-show="job.type == 'Labor' && job.isScraped" src="img/labourjobsbg.png" ng-click="openJobInBrowser(job.job_url)"> 
	    <img ng-show="job.type == 'Modelling' && job.isScraped" src="img/modellingjobsbg.png" ng-click="openJobInBrowser(job.job_url)"> 
	    <img ng-show="job.type == 'Food and Beverages' && job.isScraped" src="img/serverjobsbg.png" ng-click="openJobInBrowser(job.job_url)">  
	    <img ng-show="job.type == 'Technology' && job.isScraped" src="img/technologyjobsbg.png" ng-click="openJobInBrowser(job.job_url)"> 
	    <img ng-show="job.type == 'Office' && job.isScraped" src="img/officejobsbg.png" ng-click="openJobInBrowser(job.job_url)"> 

            <div class="no-text" ng-style="job.leftTextOpacity">NOPE</div>
      <div class='scraped-card' ng-show="job.isScraped">
        Job From {{job.scrapedFrom}}

      </div>
	    <div class="guarantee-pay-card" ng-show="job.isGuarantee" >
		<i class="ion-star"></i> Guarantee Pay 	
	    </div>
          </div>
          <div class="card-info">
	      <h5 class="currency-header" ng-hide="job.isScraped && job.wage == 0"><i class="ion-social-usd" data-pack="social" data-tags="currency, trade, money, cash"></i>{{job.wage}}<span ng-hide="job.isGuarantee">/hour</h5>
          	<h4 class='job-title-header'>
                {{job.title}}</h5>
	    <p class="distance-paragraph">{{job.distance}} km away</p>
	    <!-- <h6 class="posted-header">Posted By: {{job.posted_by.name}}</h4> -->
          	<h6 class= "about-header">Job Description</h5>
          	<p class='description-paragraph'>{{job.description}}</p>
       
          </div>	
	  <div class="job-type-container" >
	      <div ng-show="job.type == 'Cleaning'" class="job-type">
		  <img src="img/cleaningjobsblue.png"> <span>Cleaning</span>
		</div>
	    <div ng-show="job.type == 'Creative'" class="job-type">
		  <img src="img/creativejobsblue.png"> <span>Creative</span>
		</div>
	    <div ng-show="job.type == 'Labor'" class="job-type">
		  <img src="img/labourjobsblue.png"> <span>Labour</span>
		</div>
	    <div ng-show="job.type == 'Modelling'" class="job-type">
		  <img src="img/modellingjobsblue.png"> <span>Modelling</span>
		</div>
	     <div ng-show="job.type == 'Server'" class="job-type">
		  <img src="img/serverjobsblue.png"> <span>Server</span>
		</div>
	     <div ng-show="job.type == 'Technology'" class="job-type">
		  <img src="img/technologyjobsoriginal.png"> <span>Technology</span>
		</div>
	    <div ng-show="job.type == 'Office'" class="job-type">
		  <img src="img/officejobsblue.png"> <span>Office</span>
		</div>

	  </div>
        </td-card>
        
</ion-content>
<!-- <div class="bar bar-footer choose-btn-footer no-padding">
            <div class="col col-50 no-padding">
                 <button class= "btn choose-btn button-no" ng-click="btnSwipeLeft()">
                 <i class="ion-close-round" data-pack="default" data-tags="delete, trash, kill, x"></i>
                </button>
            </div>
            <div class="col col-50 no-padding">
             <button class="btn choose-btn button-yes" ng-click="btnSwipeRight()">
                 <i class="ion-checkmark-round" data-pack="default" data-tags="complete, finished, success, on"></i>
            </button>
            </div>

	</div> -->


</ion-pane>
