<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	<ion-nav-back-button class="button-clear dont-hide" ng-click="goBack()" ng-disabled="disableBack">
	    <i class="ion-chevron-left"></i>
	      </ion-nav-back-button>
	 <ion-nav-title>
	 Update Address
	</ion-nav-title>
    </ion-nav-bar>


<ion-pane class="login-container" ng-init="updateAddressInit()">



	<ion-content class="has-header ">
	<div class="card" ng-show="showError">
	  <div class="item item-text-wrap">
	    {{errorMessage}}
	  </div>
	</div>
	<div class='address'>
			<div class="list">
			  <label class="item item-input">
				<span class="input-label">Address</span>
			    <input type="text" ng-model= "address.address" placeholder="Address" ng-change="changeAddress(address)">
			  </label>
			  <label class="item item-input">
				<span class="input-label">City</span>
			    <input type="text" ng-model= "address.city" placeholder="City"  ng-change="changeAddress(address)">
			  </label>
<label class="item item-input item-select">
			    <div class="input-label">
			    Country
			    </div>
		    	<select ng-model= "address.country"  ng-change="changeAddress(address)">
					<option value="CA">Canada</option>
					<option value="US">USA</option>
		    	</select>
		    </label>
			  <label class="item item-input item-select">
			      <div class="input-label">
				Region
			    </div>
			   <select ng-model= "address.region" ng-change="changeAddress(address)">
				   <option value="AL" ng-show="showAmericanRegions">Alabama</option>
				   <option value="AK" ng-show="showAmericanRegions">Alaska</option>
				   <option value="AZ" ng-show="showAmericanRegions">Arizona</option>
				   <option value="AR" ng-show="showAmericanRegions">Arkansas</option>
				   <option value="CA" ng-show="showAmericanRegions">California</option>
				   <option value="CO" ng-show="showAmericanRegions">Colorado</option>
				   <option value="CT" ng-show="showAmericanRegions">Connecticut</option>
				   <option value="DE" ng-show="showAmericanRegions">Delaware</option>
				   <option value="DC" ng-show="showAmericanRegions">District Of Columbia</option>
				   <option value="FL" ng-show="showAmericanRegions">Florida</option>
				   <option value="GA" ng-show="showAmericanRegions">Georgia</option>
				   <option value="HI"  ng-show="showAmericanRegions">Hawaii</option>
				   <option value="ID" ng-show="showAmericanRegions">Idaho</option>
				   <option value="IL" ng-show="showAmericanRegions">Illinois</option>
				   <option value="IN" ng-show="showAmericanRegions">Indiana</option>
				   <option value="IA" ng-show="showAmericanRegions">Iowa</option>
				   <option value="KS" ng-show="showAmericanRegions">Kansas</option>
				   <option value="KY" ng-show="showAmericanRegions">Kentucky</option>
				   <option value="LA" ng-show="showAmericanRegions">Louisiana</option>
				   <option value="ME" ng-show="showAmericanRegions">Maine</option>
				   <option value="MD" ng-show="showAmericanRegions">Maryland</option>
				   <option value="MA" ng-show="showAmericanRegions">Massachusetts</option>
				   <option value="MI" ng-show="showAmericanRegions">Michigan</option>
				   <option value="MN" ng-show="showAmericanRegions">Minnesota</option>
				   <option value="MS" ng-show="showAmericanRegions">Mississippi</option>
				   <option value="MO" ng-show="showAmericanRegions">Missouri</option>
				   <option value="MT" ng-show="showAmericanRegions">Montana</option>
				   <option value="NE" ng-show="showAmericanRegions">Nebraska</option>
				   <option value="NV" ng-show="showAmericanRegions">Nevada</option>
				   <option value="NH" ng-show="showAmericanRegions">New Hampshire</option>
				   <option value="NJ" ng-show="showAmericanRegions">New Jersey</option>
				   <option value="NM" ng-show="showAmericanRegions">New Mexico</option>
				   <option value="NY" ng-show="showAmericanRegions">New York</option>
					<option value="NC" ng-show="showAmericanRegions">North Carolina</option>
					<option value="ND" ng-show="showAmericanRegions">North Dakota</option>
					<option value="OH" ng-show="showAmericanRegions">Ohio</option>
					<option value="OK" ng-show="showAmericanRegions">Oklahoma</option>
					<option value="OR" ng-show="showAmericanRegions">Oregon</option>
					<option value="PA" ng-show="showAmericanRegions">Pennsylvania</option>
					<option value="RI" ng-show="showAmericanRegions">Rhode Island</option>
					<option value="SC" ng-show="showAmericanRegions">South Carolina</option>
					<option value="SD" ng-show="showAmericanRegions">South Dakota</option>
					<option value="TN" ng-show="showAmericanRegions">Tennessee</option>
					<option value="TX" ng-show="showAmericanRegions">Texas</option>
					<option value="UT" ng-show="showAmericanRegions">Utah</option>
					<option value="VT" ng-show="showAmericanRegions">Vermont</option>
					<option value="VA" ng-show="showAmericanRegions">Virginia</option>
					<option value="WA" ng-show="showAmericanRegions">Washington</option>
					<option value="WV" ng-show="showAmericanRegions">West Virginia</option>
					<option value="WI" ng-show="showAmericanRegions">Wisconsin</option>
					<option value="WY" ng-show="showAmericanRegions">Wyoming</option>

					<option value="AB" ng-show="showCanadianRegions">Alberta</option>
					<option value="BC" ng-show="showCanadianRegions">British Columbia</option>
					<option	value="MB" ng-show="showCanadianRegions">Manitoba</option>
					<option value="NB" ng-show="showCanadianRegions">New Brunswick</option>
					<option value="NL" ng-show="showCanadianRegions">Newfoundland and Labrador</option>
					<option value="NS" ng-show="showCanadianRegions">Nova Scotia</option>
					<option value="ON" ng-show="showCanadianRegions">Ontario</option>
					<option value="PE" ng-show="showCanadianRegions">Prince Edward Island</option>
					<option value="QC" ng-show="showCanadianRegions">Quebec</option>
					<option value="SK" ng-show="showCanadianRegions">Saskatchewan</option>
					<option value="NT" ng-show="showCanadianRegions">Northrthwest Territories</option>
					<option value="NU" ng-show="showCanadianRegions">Nunavut</option>
					<option value="YT" ng-show="showCanadianRegions">Yukon</option>
					</select>
				    </label>
				    <label class="item item-input">
				<span class="input-label">Postal/ZIP Code</span>
			    <input type="text" ng-model= "address.postalCode" placeholder="Postal/Zip Code"  ng-change="changeAddress(address)">
			  </label>
			</div>
	</div>

	<button class="button  btn-right button-positive pull-right" ng-click="updateAddress(address)" >
  Save Address <i class="ion-ios-plus" data-pack="default" data-tags="menu, hamburger, slide menu" ></i>
</button>
</form>
	

	</ion-content>
	

</ion-pane>	
	
