<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
      <ion-nav-back-button class="button-clear dont-hide" ng-click ="profileBack()">
        <i class="ion-chevron-left"></i> 
          </ion-nav-back-button>
        <!--  <ion-nav-buttons side="secondary">
        <button class="button" ng-click="editProfile()" ng-show ="isUser">
	 	<i class="ion-edit  icon-header" data-pack="default" data-tags="menu, hamburger, slide menu"></i>
	</button>
	</ion-nav-buttons> -->
     <ion-nav-title>
     {{userProfile.firstName}}
    </ion-nav-title>
    </ion-nav-bar>

<ion-pane ng-init="viewProfileInit()" class="login-container" >
<additional-information data= "matchData"></additional-information>
    <ion-content class="has-header white-back">	 
    <div class="profile-picture-container">
	<img class= "profile-picture-image" ng-src="{{userProfile.profilePictureURL}}" alt="" />
    </div>
    <div class="about-container">
	<h2>{{userProfile.firstName}}</h2>
	<h5 ng-show="!isUser">{{userProfile.distance}} km away</h5>
	<h3>About {{userProfile.firstName}}</h3>
	<p class="paragraph-desc">{{userProfile.description}}</p>
    </div>
    <div class="row">
	<div class="col col-33">
                    <button class="button button-third" ng-click= "showAdditionalInformation('skills')">
                    <i class="ion-settings" data-pack="default" data-tags="delete, trash, kill, x"></i>
                    </button>
                    <h6 class="additional-label">Skills</h6>
                </div>
                <div class="col col-33">
                    <button class="button button-third" ng-click = "showAdditionalInformation('education')">
                    <i class="ion-university" data-pack="default" data-tags="delete, trash, kill, x"></i>
                     </button>
                      <h6 class="additional-label">Education</h6>
                </div>
                <div class="col col-33">
                    <button class="button button-third" ng-click="showAdditionalInformation('work experience')">
                    <i class="ion-briefcase" data-pack="default" data-tags="delete, trash, kill, x"></i>
                     </button>
                     <h6 class="additional-label">Work Experience</h6>
                 </div> 
    </div>
    <div class='card' ng-show="isUser">
	<div class="item item-divider">
	    Your Guarantee Pay Account
	</div>
	<div class="item item-text-wrap">
	You have ${{userProfile.amountMade}} in your account
	</div>
	<div class="item item-divider">
	<button class="button button-positive button-right button-small" ng-click="requestCheque()">
	    Request Cheque
	    </button>

	</div>
    </div>
 
    </ion-content>
</ion-pane>
