<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	<ion-nav-back-button class="button-clear dont-hide">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	 <ion-nav-title>
	Your Settings
	</ion-nav-title>
    </ion-nav-bar>
<ion-pane ng-init="init()">
	<ion-content class="has-header white-back">
	<div class="list">
 <ion-list>
        <ion-item  class="item-avatar" nav-clear menu-close ng-click = "getProfile()">
        <i class="icon ion-person"></i>
	    <h2>
	    My Profile 
	    </h2>
	    <p>Check out Your Profile</p>
        </ion-item>
	<ion-item nav-clear class="item-avatar" menu-close ng-click = "editProfile()">
	    <i class="icon ion-edit"></i>
	    <h2>
	    Edit Profile
	    </h2>
	    <p>Edit Your Profile</p>
        </ion-item>

	<ion-item nav-clear menu-close class="item-avatar"  ng-click = "changeDiscoveryPreferences()">
	<i class="icon ion-earth"></i>
	    <h2>
	    Discovery Preferences
	    </h2>
	    <p>Change What Jobs You See</p>
        </ion-item>
	 <ion-item nav-clear menu-close class="item-avatar" ng-click="goEmployerDash()">
         <i class="icon ion-person-stalker"></i>
	    <h2>
	    Employer Dashboard
	    </h2>
	    <p>Check Out Your Employer Dashboard</p>
	 </ion-item> 

	</div>
		    
	</ion-content>	
</ion-pane>		
