<ion-nav-bar class="bar-stable nav-title-slide-ios7 bar-positive blue-header" align-title="center">
	<ion-nav-back-button class="button-clear dont-hide">
	    <i class="ion-chevron-left"></i> 
	      </ion-nav-back-button>
	      <!--	<ion-nav-buttons side="secondary">
      <button class="button btn-default btn-transparent chatroom-button" ng-click="toggleRightSideMenu();getChatroomJobs()">
	    <i class="ion-briefcase icon-header small-right-margin" data-pack="default"></i>
	</button>
	</ion-nav-buttons> -->
	 <ion-nav-title>
	{{chatroomDetails.user.firstName}}
	</ion-nav-title>
    </ion-nav-bar>
<ion-pane ng-init="init()">
<ion-content class="has-header white-back has-footer z-index">
<button class="weird-bug"></button>
	<div class="row" ng-show="showLoading">
  			<i class="icon ion-loading-c mid-loading-style blue-loading"></i>
 		 </div>
	<div class="jobs-applied"></div>
	<div class="row chat-history-row"  ng-repeat= "message in chatHistory" >
	    
	    <div ng-if="message.sentByMe" class= "max-width" >
		<div class="offsetter"></div>
		<div class="my-message-container">
		    <div class= "message-sent-by-me">
			{{message.message}}
		    </div>
		</div>    
	    </div>	
	    <div ng-if="!message.sentByMe" class="message-sent-by-other">
		<div class="message-container">
		    <img class="chat-user-image" ng-src="{{chatroomDetails.user.profilePictureURL}}">
		    <div class="chat-user-message">
		    {{message.message}}	
		    </div>
		</div>
	    </div>	
	</div>    
	</ion-content>	
    <div class="bar bar-footer footer-default">
	<input type = "text" class="send-message-input" placeholder="Write a Message" ng-model = "newMessage">
	<button class="button button-clear pull-right" ng-click = "sendMessage()"><i class="ion-paper-airplane icon-header" data-pack="default" data-tags="menu, hamburger, slide menu" ></i></button>
    </div>

</ion-pane>
