<ion-side-menus >
  <ion-side-menu-content drag-content="false">
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>
  <!--  <ion-side-menu side="right" on-swipe-right="onSwipeLeft()" >
    <header class="bar bar-header bar-stable">
      <h1 class="title">Jobs Applied For</h1>
    </header>
    <ion-content class="has-header">
     <ion-refresher
        pulling-text="Pull to refresh..."
	on-refresh="refreshChatroomJobs()">
    </ion-refresher>
      <ion-list>

        <ion-item ng-repeat ="job in chatroomJobs" nav-clear menu-close  class="item-button-right">
	<h2>
	    {{job.title}}
	</h2>
	<p ng-show ="job.isGuaranteePay">${{job.wage}}</p>
	<p ng-show ="!job.isGuaranteePay">${{job.wage}}/hour</p>
	<p ng-show="job.isCompleted ">Job Completed</p>
			<p ng-show="job.isHired && !job.isCompleted">Hired</p>
			<p ng-show="job.isOffered && !job.isHired">Job Offered</p>
			<p ng-show="!job.isOffered">Matched : {{job.dateApplied}}</p>

	    
	<button ng-show="job.isEmployer && job.isHired && !job.isCompleted" class="button-balanced button button-down" ng-click="jobCompleted(job.matchID)" >Job Completed</button>  
	<button ng-show="job.isEmployer && !job.isOffered" class="button-balanced button button-left button-down" ng-click="offerMatch(job.matchID)" >
	    <i class="ion-checkmark-round"></i>
	</button>  
	<button ng-show="!job.isEmployer && job.isOffered && !job.isHired" class="button-balanced button button-left button-down" ng-click="acceptOffer(job.matchID,job.matchType)" >
	    <i class="ion-checkmark-round"></i>
	</button>  
	<button class="button-assertive button button-down" ng-click="removeMatch(job.matchID)" ng-show="!job.isOffered || (!job.isEmployer && job.isOffered && !job.isHired)">
	    <i class="ion-close-round"></i>
	    </button>
	</button>
	</ion-item>-->
</ion-side-menus>
